<section class="advantages">
    <div class="container">
    <!-- <h2>Переваги</h2> -->
    <ul class="advantages-list">
      <li class="advantages-item">
          <img class="advantages-img" src="./pitcures/svg/antenna.svg" alt="antenna">
          <h3 class="advantages-subtitle">УВАГА ДО ДЕТАЛЕЙ</h3>
          <p class="advantages-text">Ідейні міркування, і навіть початок повсякденної роботи з формування позиції.</p>
      </li>
      <li class="advantages-item">
          <img class="advantages-img" src="./pitcures/svg/clock.svg" alt="clock">
          <h3 class="advantages-subtitle">ПУНКТУАЛЬНІСТЬ</h3>
          <p class="advantages-text">Завдання організації, особливо рамки і місце навчання кадрів тягне у себе.</p>
      </li>
      <li class="advantages-item">
          <img class="advantages-img" src="./pitcures/svg/diagram.svg" alt="diagram">
          <h3 class="advantages-subtitle">ПЛАНУВАННЯ</h3>
          <p class="advantages-text">Так само консультація з широким активом значною мірою зумовлює.</p>
      </li>
      <li class="advantages-item">
          <img class="advantages-img" src="./pitcures/svg/astronaut.svg" alt="astronaut">
          <h3 class="advantages-subtitle">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
          <p class="advantages-text">Значимість цих проблем настільки очевидна, що реалізація планових завдань.</p>
      </li>
  </ul>
</div>
</section>