<section class="clients">
    <div class="container">
             <h2 class="clients-title">Постійні клієнти</h2>
             <ul class="clients-list">
               <li class="client-item">
                 <a href="#" target="_blank" class="client-link">
                   <svg class="client-icon" width="106" height="60">
                     <use href=""></use>
                   </svg>
                 </a>
               </li>
               <li class="client-item">
                <a href="#" target="_blank" class="client-link">
                  <svg class="client-icon" width="106" height="60">
                    <use href=""></use>
                  </svg>
                </a>
              </li>
              <li class="client-item">
                <a href="#" target="_blank" class="client-link">
                  <svg class="client-icon" width="106" height="60">
                    <use href=""></use>
                  </svg>
                </a>
              </li>
              <li class="client-item">
                <a href="#" target="_blank" class="client-link">
                  <svg class="client-icon" width="106" height="60">
                    <use href=""></use>
                  </svg>
                </a>
              </li>
              <li class="client-item">
                <a href="#" target="_blank" class="client-link">
                  <svg class="client-icon" width="106" height="60">
                    <use href=""></use>
                  </svg>
                </a>
              </li>
              <li class="client-item">
                <a href="#" target="_blank" class="client-link">
                  <svg class="client-icon" width="106" height="60">
                    <use href=""></use>
                  </svg>
                </a>
              </li>
             </ul>
    </div>
</section>