<footer class="footer">
    <div class="container footer-container">
        <a href="#" class="logo">Web<span class="logo-basement">Studio</span></a>
    <address class="address">
        <ul class="address-list">
            <li class="address-item">
                <a href="#" class="address-link">м. Київ, пр-т Лесі Українки, 26</a>
            </li>
            <li class="address-item">
                <a href="#" class="base-ment-list">info@devstudio.com</a>
            </li>
            <li class="address-item">
                <a href="#" class="base-ment-list">+38 096 111 11 11</a>
            </li>
        </ul>
    </address>
</div>
</footer>