<section class="header">
    <div class="container heder-container">
        <a href="#" class="header-logo">Web<span class="logo-span">Studio</span></a>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#" class="nav-page">Студія</a>
            </li>
            <li class="nav-item">
                <a href="portfolio.html" class="nav-page">Портфоліо</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-page">Контакти</a>
            </li>
        </ul>
        <ul class="header-contacts">
            <li class="header-contact">
                <a class="header-link" href="mailto:info@devstudio.com" >info@devstudio.com</a>
            </li>
            <li class="header-contact">
                <a class="header-link" href="tel:+380961111111">+38 096 111 11 11</a>
            </li>
        </ul>
    </div>
</section>