<section class="works">
    <div class="container">
    <h2 class="works-title">Чим ми займаємося</h2>
    <ul class="works-list">
<li class="works-item">
    <img src="../pitcures/Головна/work-1.jpg" alt="works" width="370">
    <div class="work-overlay">
    <h3>Десктопні додатки</h3>
    </div>
</li>
<li class="works-item">
    <img src="../pitcures/Головна/work-2.png" alt="works1" width="370">
    <div class="work-overlay">
    <h3>Мобільні додатки</h3>
    </div>
</li>
<li class="works-item">
    <img src="../pitcures/Головна/work-3.png" alt="works2" width="370">
    <div class="work-overlay">
    <h3>Дизайнерські рішення</h3>
    </div>
</li>
</ul>
</div>
</section>